### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Import Pandas
import pandas as pd

In [16]:
# Save file path
csv_path = "Resources/HeroesOfPymoli_purchasedata.csv"

# Read and display with Pandas
pymoli_df = pd.read_csv(csv_path)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [17]:
pymoli_df["SN"].count()

# Display

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
# Calc number of unique items
items = pymoli_df["Item Name"]
unique_items = set(items)
total_unique_items = len(unique_items)

# Calc average price
average_price = pymoli_df["Price"].mean()

# Display
#total_unique_items
#average_price

3.050987179487176

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [59]:
# Calculate count of gender
count_gender = pymoli_df["Gender"].value_counts()

# Calculate percentage of gender
percent_gender = (count_gender / count_gender.sum()) * 100

# Display

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [68]:
# Group by gender
gender_group = pymoli_df.groupby(["Gender"])

# Calculate average purchase info

#gender_purchase_group_df = gender_group.mean()
#gender_purchase_group_df


# Display

                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.095092  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [57]:
# Create and name bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sort 
age_groups_df = pd.cut(pymoli_df["Age"], age_bins, labels=bin_names, include_lowest=True)

# Calculate totals by age group
age_total_count = age_groups_df.value_counts()

# age_percentage = (age_groups_df["age_total_count"] / age_groups_df["age_total_count"].sum()) * 100

# Display
# age_groups_df[["Total Count", "Percentage of Players"]] = pd.cut(age_groups_df[["age_total_count", "age_percentage"]], age_bins, labels=bin_names)

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Create and name bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Calculate average purchase info

# Display

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [72]:
# Group by SN
SN_group = pymoli_df.groupby(["SN"])

# Purchase count
purchase_count = SN_group["Item ID"].value_counts()

# Average purchase price


# Total purchase value


# Display

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [69]:
# Extract columns
popular_pymoli_df = pymoli_df.loc[:, ["Item ID", "Item Name", "Price"]]

# Group by Item
popular_pymoli_comp = popular_pymoli_df.groupby(["Item ID"])

# Purchase count
count_popular = popular_pymoli_comp["Item ID"].value_counts()

# Average price
average_price_popular = popular_pymoli_comp["Price"].mean()

# Total value
total_value_popular = popular_pymoli_comp["Price"].sum()

# Display

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#table_name_above_df = table_name_above_df.sort_values("Total Purchase Value")

# Restart the index
#table_name_above_df = table_name_above_df.reset_index(drop=True)

# Display
#table_name_above_df.head()