### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Import Pandas
import pandas as pd

In [2]:
# Save file path
csv_path = "Resources/HeroesOfPymoli_purchasedata.csv"

# Read and display with Pandas
pymoli_df = pd.read_csv(csv_path)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [18]:
# Identify unique players
players = pymoli_df["SN"]
unique_players = set(players)
total_unique_players = len(unique_players)

# Move into df
total_unique_players_df = pd.DataFrame({"Total Players": [total_unique_players]})

# Display
total_unique_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# Calc number of unique items
items = pymoli_df["Item Name"]
unique_items = set(items)
total_unique_items = len(unique_items)

# Calc average price
average_price = pymoli_df["Price"].mean()

# Calc total number of purchases
total_purchases = pymoli_df["Item Name"].count()

# Calc total revenue
total_revenue = pymoli_df["Price"].sum()

# Move calcs into df
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [total_unique_items], "Average Price": [average_price],
                                     "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})

# Display
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [41]:
# Calculate count of gender
gender_group = pymoli_df.groupby("Gender")
count_gender = gender_group["SN"].nunique()

# Calculate percentage of gender
percent_gender = (count_gender / count_gender.sum()) * 100

# Move calcs into df
gender_demographics_df = pd.DataFrame({"Total Count": [count_gender], "Percentage of Players": [percent_gender]})

# Display
gender_demographics_df

,Total Count,Percentage of Players
0,Gender Female 81 Male ...,Gender Female 14.062500 Male...


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
# Group by gender
gender_group = pymoli_df.groupby(["Gender"])

# Calc purchase count by gender
purchase_count = gender_group["Item Name"].count()

# Calc average purchase info
average_price = gender_group["Price"].mean()

# Calc total purchase value
total_purchase_value = gender_group["Price"].sum()

# Calc average total purchase per person
# NOT RIGHT



average_total = total_purchase_value / purchase_count
average_total



# Move calcs into df
purchase_analysis_gender_df = pd.DataFrame({"Purchase Count": [purchase_count], "Average Purchase Price": [average_price],
                                            "Total Purchase Value": [total_purchase_value], "Avg Total Purchase per Person": [average_total]})

# Display
purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 3.203009 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [51]:
# Create and name bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sort 
pymoli_df["Age Group"] = pd.cut(pymoli_df["Age"], age_bins, labels=bin_names)

# Calc totals by age group
age_count = pymoli_df.groupby("Age Group")
age_count_total = age_count["SN"].nunique()

# Calc percentage by age group
#age_percentage = (age_count_total / ["age_count_total"].sum()) * 100

# Move calcs into df
#age_demographics_df = pd.DataFrame({"Total Count": [age_count_total], "Percentage of Players": [age_percentage]})

# Display
# age_groups_df[["Total Count", "Percentage of Players"]] = pd.cut(age_groups_df[["age_total_count", "age_percentage"]], age_bins, labels=bin_names)
#age_demographics_df

age_count_total

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
# Create and name bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sort 
pymoli_df["Age Group"] = pd.cut(pymoli_df["Age"], age_bins, labels=bin_names)

# Calc purchase count by age
purchase_count = pymoli_df.groupby("Age Group")
purchase_count_total = purchase_count["SN"].nunique

# # Calc average purchase price by age
# average_price = 

# # Calc total purchase value by age
# total_purchase_value = 

# # Calc average total purchase per person
# average_total_purchase = 

# # Move calcs into df
# age_purchase_analysis_df = pd.DataFrame({"Purchase Count": [purchase_count_total], "Average Purchase Price": [average_price],
#                                          "Total Purchase Value": [total_purchase_value], "Avg Total Purchase per Person": [average_total_purchase]})

# # Display
# age_purchase_analysis_df
purchase_count_total

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Group by SN
SN_group = pymoli_df.groupby(["SN"])

# Purchase count
purchase_count = SN_group["Item ID"].value_counts()

# Average purchase price


# Total purchase value


# Move calcs into df
top_spenders_df = pd.DataFrame({"Purchase Count": [], "Average Purchase Price": [], "Total Purchase Value": []})

# Display
top_spenders_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Extract columns
popular_pymoli_df = pymoli_df.loc[:, ["Item ID", "Item Name", "Price"]]

# Group by Item
popular_pymoli_comp = popular_pymoli_df.groupby(["Item ID"])

# Purchase count
count_popular = popular_pymoli_comp["Item ID"].value_counts()

# Average price
average_price_popular = popular_pymoli_comp["Price"].mean()

# Total value
total_value_popular = popular_pymoli_comp["Price"].sum()

# Move calcs into df
most_popular_df = pd.DataFrame({"Purchase Count": [], "Item Price": [], "Total Purchase Value": []})

# Display
most_popular_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#table_name_above_df = table_name_above_df.sort_values("Total Purchase Value")

# Restart the index
#most_profitable_df = table_name_above_df.reset_index(drop=True)

# Move calcs into df
most_profitable_df = pd.DataFrame({"Purchase Count": [], "Item Price": [], "Total Purchase Value": []})

# Display
most_profitable_df.head()